/* header CSS */
.t-6 {
    top: 6px;
}

.listing{
    position: absolute;
    width: 91%;
    background: white;
    z-index: 999;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden !important;
    padding-left: 1px !important;
    border: 1px solid;
    border-color: #dd232a;
}

.lists{
    padding-top: 5px;
    border-bottom: 1px solid;
    border-color: #dd232a;
    padding-left: 25px !important;
    font-size: 20px;   
}
