/* Shop Section CSS */

.selectMain {
    background-color: white;
    border-radius: 30px;
    padding: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    outline: none;
    scroll-behavior: smooth;
}

.selectMain option:hover {
    background:transparent; 
}