/* Make clicks pass-through */
#nprogress {
    pointer-events: none;
    
  }
  
  #nprogress .bar {
  background: #ee0000;
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  /* Fancy blur effect */
  #nprogress .peg {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #ee0000, 0 0 5px #ee0000;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
        -ms-transform: rotate(3deg) translate(0px, -4px);
            transform: rotate(3deg) translate(0px, -4px);
  }
  
  /* Remove these to get rid of the spinner */
  #nprogress .spinner {
    display: block;
    position: fixed;
    background: rgba(255,255,255,0.9);;
    padding-top: 50vh;
    padding-left: 48vw;
    padding-right: 48vw;
    padding-bottom: 50vh; 
    z-index: 1031;
    top: 2px;    
  }
  
  #nprogress .spinner-icon {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border: solid 4px transparent;
    border-top-color: #ee0000;
    border-left-color: #ee0000;
    border-radius: 50%;
    -webkit-animation: nprogress-spinner 400ms linear infinite;
            animation: nprogress-spinner 400ms linear infinite;
  }
  
  .nprogress-custom-parent {
    overflow: hidden;
    position: relative;
  }
  
  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    position: absolute;
  }
  
  @-webkit-keyframes nprogress-spinner {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  