/* Product Info CSS */


.slick-dots.slick-thumb {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slick-dots.slick-thumb li {
  width: 10px;
  height: 10px;
  margin: 0 3px;
  border-radius: 999px;
  transition: all 0.5s ease-in-out;
  will-change: width;
  background-color: #d3d2d2e6;
}

.slick-dots.slick-thumb li.slick-active {
  background-color: #fed700;
  width: 34px;
}

.js-slick-carousel.slick-dots.slick-thumb li.slick-active button:before {
  color: transparent;
}

.js-slick-carousel .slick-dots.slick-thumb li button:before {
  color: transparent;
}

.selectMain {
  background-color: white;
  border-radius: 30px;
  padding: 5px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  outline: none;
  scroll-behavior: smooth;
}

.selectMain option:hover {
  background:transparent; 
}

.productthubimg{
  border: 1px solid gray;
  padding: 0.65rem;
  margin-right:-2rem;
}
.productimgwidth{
  width: 4rem;
   position: absolute;
    top: 4rem;
}
@media only screen and (max-width:576px) {
  .productthubimg{
    border: 1px solid gray;
    padding:0;
    margin-right:0;
  }
 .productimgwidth{
      width: 3.5rem;
      position: absolute;
      top: 3rem;
  }

}